<html>

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


    <script>
         function sendRequest() {
            $.ajax({
                url: '/api/calc',
                success: function (data) {
                    $('#temp').html('TEMPERATURE: ' + data['temp']);
                    $('#humidity').html('HUMIDITY: ' + data['humidity']);
                    $('#uv').html('UV INDEX: ' + data['uv']);
                    $('#moisture').html('MOISTURE: ' + data['moisture']);

                    setTimeout(function () {
                        sendRequest(); //this will send request again and again;
                    }, 1000);
                }
            });
        }
    </script>

</head>


<body onload="sendRequest()">
    <div id="results">
        <div id="temp"></div>
        <div id="humidity"></div>
        <div id="uv"></div>
        <div id="moisture"></div>
    </div>
</body>

</html>